body {
    margin: 0px;
    padding: 0px;
    background-color: rgba(176, 236, 247, 0.67);
}

section {
    margin-top: 100px;
    text-align: center;
}

article > span {
    font-size: 70px;
}

header {
    margin: 3%;
}

header > a {

}
