
body {
    margin: 0;
    margin: 5%;
    font-family: Constantia, "Times New Roman", Calibri;
    background-color: rgba(0, 0, 0, 0.73);
    border-color: aqua;
    border-style: double;
}

h1, h2 {
    color: #a2c4f6;

}

h1 .about {
    margin-left: 15vw;
    font-size: 5vw;
}
h1 .home {
    text-align: left;
    cursor: pointer;
}

p.explain {
    color: white;
    text-align: center;
}

p span.quality {
    color: #e9e880;
}

ul {
    color: white;
}

p.brief {
    color: white;
}

.movie a {
    color: #b4524c;
}

article.fun h2::after {
    content: " First Come ";
}